<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibConnect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body class="bg-gray-200">

    <header class="bg-gray-800 text-white p-4 flex items-center justify-between">
        <div class="flex items-center space-x-2">
            <i class="fas fa-book text-3xl"></i> 
            <a href="{% url 'main:index' %}">
                <h1 class="text-2xl font-bold">LibConnect</h1>
            </a>
        </div>
        
        <div class="flex items-center w-1/2">
            <input type="text" placeholder="Search Bar..." class="w-full p-2 rounded-l-md text-gray-700">
            <button class="bg-gray-600 p-2 rounded-r-md">
                <i class="fas fa-search text-white"></i>
            </button>
        </div>
        
        <div class="flex items-center space-x-4">
            {% if user.is_authenticated %}
                <span class="text-white">Olá, {{ user.username }}</span>
                <form action="{% url 'main:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700">
                        Sair
                    </button>
                </form>
            {% else %}
                <a href="{% url 'main:login' %}" class="text-white hover:text-gray-300">Login</a>
            {% endif %}
            <i class="fas fa-user-circle text-3xl"></i>
        </div>
    </header>

    <form method="get" action="{% url 'main:index' %}">
        <nav class="bg-gray-300 p-4 flex justify-center space-x-4">

            <select name="categoria" class="px-4 py-2 rounded-md">
                <option value="">Todas as Categorias</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id|stringformat:'s' %}selected{% endif %}>
                        {{ categoria.nome }}
                    </option>
                {% endfor %}
            </select>
    
            <input type="text" name="autor" placeholder="Filtrar por autor" value="{{ request.GET.autor }}" class="px-4 py-2 rounded-md"/>
    
            <div class="flex space-x-4">
                <button type="submit" class="bg-gray-400 px-4 py-2 rounded-md">Filtrar</button>
            </div>
        </nav>
    </form>

    <main class="p-8">
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>
